body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: 50% 0;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

a {
    color: #ffffff;

    text-decoration-color: rgba(255,255,255,0.2);
}

a:hover:not(nav),
a:active:not(nav) {
    color: #ffbc9e;
}

.button {
    display: inline-block;
    padding: 11px 40px;
  
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
  
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    box-shadow: 0 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                    linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    color: #ffffff;
    box-shadow: inset 0 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), 
                      linear-gradient(to bottom, #e74a35, #f26843);
}

.active {
    background-color: #d07058;

    color: #ffffff;
}

.container {
    width: 1146px;

    padding: 0 27px;    
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    padding-top: 5px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.site-navigation,
.site-navigation-submenu,
.shopping-cart {
    list-style: none;

    margin: 0;
    padding: 0;
}

.site-navigation {
    width: 383px;
    margin-right: 347px;
    padding-left: 13px;
    padding-right: 13px;
    line-height: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.site-navigation-item > a {
    display: block;
    padding: 8px 13px;
}

.site-navigation-item > a:hover {
    background-color: #f7f6f3;
    color: #333333;

    border-radius: 45px;
}

.site-navigation-item > a:active {
    box-shadow: inset 0 2px 1px 0 #696969;

    background-color: #ededed;
    color: #323232;
}

.site-navigation a:hover,
.site-navigation a:active {
    text-decoration: none;
}


.site-navigation-submenu {
    display: none;
}

.submenu:hover .site-navigation-submenu {
    display: block;

    position: absolute;
    top: 38px;
    left: 3px;

    padding-top: 10px;

    width: 143px;

    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    background-color: #f8f7f4;

    border-radius: 5px;

    z-index: 2;
}

.submenu {
    position: relative;
}

.submenu:hover::after {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 0;

    width: 80px;
    height: 5px;
}

.site-navigation-submenu a {
    display: block;

    padding: 10px 20px;
}

.site-navigation-submenu li:last-child {
    padding-top: 5px;
    padding-bottom: 12px;
}

.site-navigation-submenu .current-page {
    background-color: #d07058;
    color: #ffffff;

    padding: 6px 20px;
}

.site-navigation-submenu a:hover {
    background-color: #fbded7;
    color: #323232;
}

.site-navigation-submenu a:active {
    background-color: #f6b5a5;
    color: #323232;
}

.search,
.login,
.shopping-cart {
    font-size: 14px;
    line-height: 16px;

    background-color: rgba(255,255,255,0.2);
}

.search {
    margin-left: auto;
    margin-right: 10px;

    border-radius: 50%;

    position: relative;
}

.search:hover::after  {
    content: "";

    position: absolute;
    bottom: -15px;
    left: -50px;

    width: 150px;
    height: 15px;
}

.search-button {
    width: 33px;
    height: 33px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}



.modal {
    display: none;

    padding: 20px;

    background-color: #f8f7f4;

    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    z-index: 2;
}

.modal-feedback {
    display: none;

    position: fixed;
    top: 10%;
    left: 50%;
    
    margin-left: -239px;
    padding: 20px 24px;

    width: 430px;

    border-radius: 10px;
}

.modal-feedback p {
    margin: 0;
}

.modal-feedback > p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;

    color: #323232;

    margin-bottom: 24px;
} 

.modal-feedback input[type="text"],
.modal-feedback input[type="email"]
{
    width: 235px;

    padding: 16px 15px 12px;
    margin-bottom: 20px;

    border: 2px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;

    color: #999999;
}

.modal-feedback textarea {
    width: 398px;
    height: 155px;

    padding: 13px 15px;
    margin-bottom: 24px;

    border: 2px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;

    color: #999999;
}

.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.modal-feedback textarea:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal-feedback input[type="text"]:checked,
.modal-feedback input[type="email"]:checked,
.modal-feedback textarea:checked {
    border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-feedback-button {
    text-align: right;
}

.modal-feedback .button {
    padding: 11px 24px;

    font-size: 18px;
    line-height: 24px;
}

.modal-feedback .modal-close {
    width: 18px;
    height: 18px;

    font-size: 0;

    border: none;

    cursor: pointer;

    position: absolute;
    top: 18px;
    right: 17px;

    background-color: #f8f7f4;
}

.modal-feedback .modal-close::before,
.modal-feedback .modal-close::after {
  content: "";

  position: absolute;
  top: 7px;
  right: 0;

  width: 19px;
  height: 3px;

  background-color: #323232;
}

.modal-feedback .modal-close::before {
    transform: rotate(45deg);
}
  
 .modal-feedback .modal-close::after {
    transform: rotate(-45deg);
}

.search:hover .modal-search {
    display: block;

    position: absolute;
    top: 37px;
    right: 0;
}

.modal-search {
    width: 341px;

    padding: 20px 15px;
}

.search-form input[type="search"] {
    padding: 15px;

    width: 100%;
    box-sizing: border-box;

    border: 1px solid #d3d3d2;
    border-radius: 5px;

}

.login {
    margin-left: auto;
    margin-right: 9px;

    border-radius: 25px;

    position: relative;
}

.login:hover::after {
    content: "";

    position: absolute;
    bottom: -15px;
    left: -50px;

    width: 150px;
    height: 15px;
}

.login:hover .modal-login {
    display: block;

    position: absolute;
    top: 37px;
    right: 0;
}

.modal-login {
    width: 257px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    border-radius: 5px;

    width: 100%;
    box-sizing: border-box;

    background-color: #ffffff;

    border: 1px solid #d3d3d2;

    padding: 16px;
    margin-bottom: 20px;
}

.login-form p {
    margin: 0;
}

.modal-login-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form .button {
    padding: 13px 25px;

    font-size: 18px;
    line-height: 24px;
}

.user-problem a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;

    color: #323232;

    text-decoration: underline;
}

.login-button {
    position: relative;

    padding: 7px 17px 9px 44px;
    border-radius: 25px;

    display: block;
}

.login-button::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 21px;

    background-image: url("../img/entrance-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.shopping-cart {
    width: 100px;
    margin-left: auto;

    border-radius: 25px;
}

.shopping-cart-wrapper {
    position: relative;
}

.shopping-cart-wrapper:hover::after {
    content: "";

    position: absolute;
    bottom: -15px;
    left: -50px;

    width: 150px;
    height: 15px;

}

.shopping-cart-wrapper:hover .modal-shopping-cart {
    display: block;

    position: absolute;
    top: 37px;
    right: -10px;
    padding-top: 10px;
}

.modal-shopping-cart {
    width: 510px;

    padding: 20px 15px;

    text-align: right;
}

.active-shopping-cart {
    text-align: center;

    border-bottom: 1px solid #cacac7;

    margin-bottom: 16px;
}

.active-shopping-cart td {
    color: #323232;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    padding-bottom: 20px;
}

.active-shopping-cart span {
    color: #999999;
}

.active-shopping-cart td:nth-of-type(3) {
    width: 45%;
}

.modal-shopping-cart > p {
    margin: 0;

    font-size: 15px;
    line-height: 18px;

    color: #323232;

    margin-bottom: 17px;
}

.modal-shopping-cart .button {
    font-size: 18px;
    line-height: 24px;
    
    padding: 11px 13px;
}

.empty-shopping-cart a {
    position: relative;

    padding: 7px 17px 9px 44px;
    border-radius: 25px;

    display: block;
}

.empty-shopping-cart a::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 21px;

    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a,
.site-navigation-submenu a,
.search-button,
.login-button,
.shopping-cart a {
    color: #ffffff;
}

.site-navigation-submenu a,
.search-button,
.login-button,
.shopping-cart a {
    text-decoration: none;
}

.site-navigation-submenu {
    background-color: #f8f7f4;
}

.site-navigation-submenu li:first-child {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.site-navigation-submenu li {
    font-size: 14px;
    line-height: 16px;
}

.site-navigation-submenu li:not(:first-child) {
    font-weight: 400;
}

.site-navigation-submenu a {
    color: #323232;
}

.site-navigation-submenu a:hover {
    background-color: #fbded7;
}

.site-navigation-submenu a:active {
    background-color: #f6b5a5;
    box-shadow: none;
}

.search-button:hover,
.login-button:hover,
.shopping-cart a:hover {
    background-color: #f8f7f4;

    color: #323232;
}

.search-button:hover path {
    fill: #323232;
}

.login-button:hover::before {
    background-image: url("../img/entrance-black.svg");
}

.shopping-cart-active {
    background-color: #f8f7f4;

    padding: 8px 12px 8px 40px;
    width: 60px;

    border-radius: 50px;
}

.shopping-cart-active a {
    color: #323232;

    position: relative;
}

.shopping-cart-active a::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -30px;

    width: 21px;
    height: 21px;

    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
}

.site-navigation .active {
    padding: 8px 14px;
    width: 63px;

    background-color: #d07058;

    border-radius: 45px;
}


.slider {
    position: relative;
    
    padding-top: 275px;
    margin-bottom: 44px;
    
    text-align: center;
    color: #ffffff;
}

.slider-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(248,247,244,0.4);
    border: 2px solid #ffffff;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 20;
    
    font-size: 0;
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-position: 50% 0;
}
  
  #product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider-2.png");
    background-position: 50% 0;
}
  
  #product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider-3.png");
    background-position: 50% 0;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.gifts-list {
    margin: 0;
    padding: 0;
    margin-bottom: 39px;

    display: flex;

    list-style: none;
}

.gift-item {
    width: 521px;

    padding: 16px 21px 22px 18px;
}

.gift-item:first-child {
    background-color: #9f2928;
    border-radius: 15px;
    background-image: url("../img/background-raspberries.png");

    margin-right: 26px;
}

.gift-item:last-child {
    background-color: #47291a;
    border-radius: 15px;
    background-image: url("../img/background-chocolate.png");
}

.gift-item h2 {
    margin: 0;
    margin-bottom: 15px;

    font-size: 35px;
    line-height: 41px;
}

.gift-item p {
    margin: 0;
    margin-bottom: 45px;

    font-size: 18px;
    line-height: 22px;
}

.gift-item-button {
    text-align: right;
}

.gift-item .button {
    font-size: 18px;
    line-height: 24px;

    padding: 11px 22px;
}

.about-us {
    background-color: #ddd0b4;
    border-radius: 15px;
    background-image: url("../img/wafer.png");
    background-size: 1146px 306px;

    color: #323232;

    margin-bottom: 40px;

    padding: 26px 25px 1px 21px;

}

.about-us p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;

    margin: 0;
}

.about-us-list {
    list-style: none;

    line-height: 22px;
    font-weight: 400;

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

    margin: 0;
    padding: 0;
    margin-bottom: 26px;

}

.about-us-item {
    width: 480px;

    padding-top: 23px;
    padding-left: 55px;

    position: relative;
}

.about-us-item::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 49px;
    height: 49px;
}

.about-us-item:first-child::before {
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
}

.about-us-item:nth-child(2)::before {
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
}

.about-us-item:nth-child(3)::before {
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
}

.about-us-item:last-child::before {
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news {
    background-image: url("../img/tasty-ice-cream.png");

    width: 298px;

    padding: 23px 242px 81px 20px; 
}

.news h2 {
    color: #323232;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    margin-bottom: 4px;
}

.news p {
    width: 281px;

    margin: 0;
}

.news a {
    color: #323232;

    font-size: 24px;
    line-height: 30px;

    text-decoration: underline;
}

.mailing-strip {
    background-image: url("../img/strip-background.svg");
    background-repeat: no-repeat;

    width: 549px;
    min-height: 220px;
    
    padding: 4px 5px 5px 6px;
}

.mailing {
    background-color: #f8f7f4;

    color: #5a5a5a;

    width: 506px;

    padding: 30px 21px 33px 22px;

    border-radius: 10px;

}

.mailing p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    margin: 0;

    margin-bottom: 36px;
}

.modal-mailing {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-mailing input {
    width: 365px;

    border-radius: 5px;

    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;

    box-sizing: border-box;
    
    font: inherit;
    line-height: 24px;
    font-weight: 400; 
    
    color: #999999;

    border: 1px solid lightgrey;
}

.modal-mailing .button {
    font-size: 18px;
    line-height: 24px;

    padding: 10px 19px;
}

.main-index .container {
    margin-bottom: 32px;
}

.map {
    position: relative;
}

.map img {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.map span {
    position: absolute;
    top: 139px;
    left: 380px;   
    z-index: 1;

    width: 80px;
    height: 140px;

    background-image: url("../img/ice-cream-red.svg");
    background-repeat: no-repeat;
}

.map span::after {
    content: "";

    position: absolute;
    bottom: 0px;
    left: 40px;

    width: 182px;
    height: 110px;

    background-image: url("../img/ice-cream-shadow.png");
    background-repeat: no-repeat;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 3px;
}

.breadcrumbs {
    list-style: none;

    padding: 0;
    margin: 0;
    padding-top: 26px;

    min-width: 220px;

    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 25px;
}

.working-hours {
    text-align: right; 
}

.working-hours p {
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    margin-bottom: 4px;
}

.working-hours a {
    font-size: 22px;
    line-height: 24px;

    text-decoration: none;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.catalog-list,
.popular-list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.catalog-item p:first-of-type,
.popular-item p:first-of-type {
    font-size: 45px;
    line-height: 45px;

    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

    margin: 0;
}

.catalog-item span,
.popular-item span {
    font-size: 30px;
    line-height: 45px;
}

.catalog-item p:last-of-type,
.popular-item p:last-of-type {
    line-height: 22px;
    font-weight: 500;

    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.2);

    margin: 0;
    
    align-self: center;
}

.popular-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 39px;
}

.popular-item {
    width: 267px;

    position: relative;
}

.popular-item .img::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;

    background-image: url("../img/ice-cream-for-map.svg");
    background-repeat: no-repeat;
}

.popular-item img {
    position: relative;
}

.popular-item:nth-child(4n),
.catalog-item:nth-child(4n) {
    padding-right: 0;
}

.popular-item:hover .button,
.catalog-item:hover .button {
    display: block;

    position: absolute;
    top: 342px;
    left: 43px;
    
    width: 180px;

    font-size: 18px;
    line-height: 24px;

    padding: 10px 10px;

    z-index: 2;
}

.popular-item div,
.catalog-item div {
    display: none;
}

.popular-item:hover div {
    display: block;
    position: absolute;
    top: 0;
    left: -13px;

    width: 292px;
    height: 405px;

    background-color: rgba(248,247,244,0.2);
    border-radius: 5px;

    z-index: 2;
}

.catalog-item:hover div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 292px;
    height: 405px;

    background-color: rgba(248,247,244,0.2);
    border-radius: 5px;

    z-index: 2;
}

.popular-item img {
    margin-bottom: 0px;
}


.popular-item p:first-of-type,
.catalog-item p:first-of-type {
    position: absolute;
    top: 210px;

    word-spacing: -7px;
}

.popular-item p:last-of-type {
    text-align: center;

    margin-top: 11px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 35px;
}

.catalog-item {
    width: 260px;

    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 35px;

    position: relative;
}

.catalog-item img {
    margin-bottom: 10px;
}

.catalog-item p:first-of-type {
    position: absolute;
    top: 210px;
}

.catalog-item p:last-of-type {
    text-align: center;
}

.filter {
    margin-bottom: 35px;
}

.filter-form {
    width: 860px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-form fieldset {
    padding: 0;
}

.filter-form fieldset,
.filter-form select {
    border: none;
}

.filter-form legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    margin-bottom: 6px;
    margin-left: 12px;

    color: #ffffff;
}

.filter-form ul {
    list-style: none;
}

.filter-form label {
    line-height: 18px;
    font-weight: 500;
}

.filter-form select,
.filter-form .percent-list,
.filter-form .filter-list,
.range-controls {
    background-color: rgba(255,255,255,0.2);
    
    padding: 8px 20px;

    border-radius: 50px;
}

.filter-form select {
    font: inherit;
    line-height: 18px;
    font-weight: 500;

    color: #ffffff;

    width: 192px;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.filter-form select:hover {
    color: #323232;
}

.range-controls {
    position: relative;

    padding: 16px 20px;
}

.range-controls .scale {
    height: 4px;

    width: 176px;

    background-color: rgba(255,255,255,0.5);
}

.range-controls .bar {
    width: 107px;
    margin-left: 20px;
    height: 4px;
  
    background: #ffffff;
}

.range-toggle {
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    
    cursor: pointer;

    position: absolute;
    top: 8px;
}

.range-toggle-min {
    left: 33px;
}

.range-toggle-max {
    left: 130px;
}

.percent-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 375px;
}

.percent-item {
    padding-left: 20px;
}

.percent-item label,
.filter-item label {
    display: block;

    cursor: pointer;
    position: relative;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    top: -1px;
    left: -28px;

    width: 24px;
    height: 24px;

    background-image: url("../img/radio-off.svg");
    background-size: 90%;
    background-repeat: no-repeat;

    opacity: 0.8;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;

    top: -1px;
    left: -28px;

    width: 24px;
    height: 24px;

    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-size: 90%;

    opacity: 0.8;
}



.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after {
    opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
    opacity: 0.4;
}

.filter-list {
    margin: 0;
    padding: 0;

    width: 660px;

    display: flex;
    justify-content: space-between;
}

.filter-item {
    padding-left: 26px;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -30px;

    width: 24px;
    height: 24px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;

    opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -30px;

    width: 24px;
    height: 24px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;

    opacity: 0.8;
}

fieldset:nth-of-type(2) input {
    width: 20px;
}

.form-button {
    font: inherit;
    line-height: 18px;
    font-weight: 500;

    background-color: rgba(255,255,255,0.2);

    color: #ffffff;

    border: 2px solid #ffffff;
    border-radius: 50px;

    padding: 7px 28px;

    align-self: flex-end;
}

.form-button:hover {
    background-color: #ffffff;
    border: none;

    color: #323232;
}

.form-button:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;
    border: none;

    color: #323232;
}

.pagination {
    line-height: 18px;
    font-weight: 500;

    margin: 0;
    padding: 0;
    margin-left: auto;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 210px;
}

.pagination a {
    display: block;
    width: 27px;
    height: 22px;

    background-color: transparent;
    
    border-radius: 50%;

    text-align: center;
    padding-top: 5px;
}

.pagination a:hover {
    background-color: rgba(255,255,255,0.2);
}

.pagination a:active {
    background-color: #ffffff;
}

.pagination li:first-child {
    width: 27px;
    height: 27px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transform: rotate(180deg);
}

.pagination li:last-child {
    width: 27px;
    height: 27px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;

    cursor: pointer;
}

.pagination .disabled {
    opacity: 0.2;
}

.pagination .active {
    background-color: #ffffff;

    color: #323232;

    width: 27px;
    height: 22px;

    padding-top: 5px;

    border-radius: 50%;

    text-align: center;
}

.pagination a {
    text-decoration: none;
}

.pagination a:hover {
    background-color: rgba(255,255,255,0.2);
}

.pagination a:active {
    background-color: #ffffff;

    color: #323232;
}

.catalog {
    padding-bottom: 30px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contacts {
    background-color: #ffffff;

    position: absolute;
    top: 62px;
    right: 137px;
    
    width: 250px;

    border-radius: 15px;

    padding: 27px 28px 32px 24px;
}

.contacts p {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    color: #323232;
}

.contacts p:first-of-type {
    width: 158px;

    margin-bottom: 2px;
}

.contacts p:nth-of-type(2) {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #323232;

    margin-bottom: 19px;
}

.contacts p:last-of-type {
    margin-bottom: 4px;
}

.hours-for-calling {
    margin-bottom: 30px;
}

.hours-for-calling p {
    margin: 0;

    line-height: 22px;
}

.hours-for-calling a {
    font-size: 18px;
    line-height: 22px;

    color: #323232;

    text-decoration: none;
}

.contacts .button {
    font-size: 18px;
    line-height: 24px;

    padding: 10px 26px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 18px 27px 26px 28px;
}

.footer-social {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center; 
}

.footer-social li {
    width: 38px;
    padding-bottom: 2px;

    margin-right: 11px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social a {
    text-decoration: none;

    color: #ffffff;
}

.social-button {
    width: 32px;
    height: 32px;

    opacity: 0.5;
}

.social-button:hover {
    opacity: 0.7;
    background: transparent;
} 

.social-button:active path {
    fill: #e9e9e9;
}

.social-button svg {
    border: 3px solid rgba(255,255,255,0.8);
    border-radius: 50%;
}

.footer-information {
    list-style: none;

    width: 327px;

    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    padding-right: 17px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-information li:first-child {
    position: relative;
}

.footer-information li:first-child::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 0;

    width: 15px;
    height: 13px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
}

.footer-information li {
    margin-bottom: 2px;
    padding-left: 23px;
}

.footer-information li:nth-child(2) {
    margin-right: 56px;
}

.footer-information a {
    color: #ffffff;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.footer-copyright p {
    color: #fefefe;

    margin: 0;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.footer-copyright a {
    color: #fefefe;
}